h1 {
color: red;
}


h3{
    color: blue;
}

h3{
    color: blueviolet;
}


P{

    background-color: pink;
    color: white;
    width: 50%;

    margin: auto;
}

h1{
    font-size: 40px ; /* taille de la typo */
    text-align: center; /* aligner le texte à droite */
}

h2{
    font-size: 40px ; /* taille de la typo */
    text-align: center; /* aligner le texte au centre */
}


body {
    background-color: #d8e7ef; /* Imposta un colore di sfondo */
}


body {
    background-image: url('assets/abstract_pink_hand_painted_watercolour_texture_background_0107.jpg');
    /* Remplace par le chemin de ton image */
    background-size: cover;
    /* Ajuste l'image pour couvrir toute la page */
    background-position: center;
    /* Centre l'image */
    background-repeat: no-repeat;
    /* Empêche la répétition de l'image */
}
