h1 {
color: red;
}


h3{
    color: blue;
}

h3{
    color: blueviolet;
}


P{

    background-color: pink;
    color: white;
    width: 50%;

    margin: auto;
}

h1{
    font-size: 40px ; /* taille de la typo */
    text-align: center; /* aligner le texte à droite */
}

h2{
    font-size: 40px ; /* taille de la typo */
    text-align: center; /* aligner le texte au centre */
}


body {
    background-color: #d8e7ef; /* Imposta un colore di sfondo */
}


