h1 {
color: red;
}


h3{
    color: blue;
}

h3{
    color: blueviolet;
}


P{

    background-color: pink;
    color: white;
    width: 50%;

    margin: auto;
}

h1{
    font-size: 40px ; /* taille de la typo */
    text-align: center; /* aligner le texte à droite */
}

h2{
    font-size: 40px ; /* taille de la typo */
    text-align: center; /* aligner le texte au centre */
}


body {
    background-color: #d8e7ef; /* Imposta un colore di sfondo */
}


body {
    background-color: #c8d2eb; /* Blu scuro */
    background-image: url('https://twemoji.maxcdn.com/v/latest/svg/1f4bb.svg'), /* Laptop */
                      url('https://twemoji.maxcdn.com/v/latest/svg/1f916.svg'), /* Robot */
                      url('https://twemoji.maxcdn.com/v/latest/svg/1f9ee.svg'); /* Chip */
    background-size: 100px, 120px, 80px; /* Dimensioni diverse per ogni emoji */
    background-position: top left, center, bottom right; /* Posizioni delle emoji */
    background-repeat: no-repeat, no-repeat, no-repeat; /* Nessuna ripetizione */
}